# Pocket configuration

# Consumer Key
pockat.consumer.key: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# URI
pocket.redirect.uri: "WebArchiver1.0:authorizationFinished"

# Access token
pocket.access.token: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
